:root {
    --background: #121216;
    --foreground: #ffefef;
    --primary: #e033cf;
    --success: #40be3e;
    --failure: #f15656;
}

* {
    background-color: var(--background);
    color: var(--foreground);
    font-size: x-large;
    user-select: none;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

button {
    border: 2px solid var(--foreground);
    border-radius: 10px;
    padding: 8px;
    min-height: 2em;
    min-width: 2em;

    &:hover {
        color: var(--primary);
        border-color: var(--primary);
    }
}

input {
    border: 2px solid var(--foreground);
    border-radius: 10px;
    padding: 8px 16px;
    outline: none;
    min-height: 1.4em;
    min-width: 1em;
}

hr {
    margin: 1.5% -1%;
}

dialog {
    outline: none;
    border: 1px solid var(--foreground);
    border-radius: 10px;

    &::backdrop {
        backdrop-filter: blur(1px) brightness(75%);
    }
}

.d-none {
    display: none;
}

.layout-wrapper {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 3fr 4fr 2fr;
    height: 100svh;
    width: 100vw;
}

.error {
    border-color: var(--failure);
}

.purchase-buttons {
    & > button {
        padding: 12px;
        flex-grow: 1;
        flex-basis: 0;
    }
}

.align-vertical {
    display: flex;
    flex-direction: column;
}

.align-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.align-right {
    align-items: right;
    align-content: end;
    text-align: right;
}

.spacer {
    width: 20px;
    height: 0.5rem;
    &[flex] {
        flex-grow: 1;
    }
}

.small {
    font-size: small;
}

.mt-3 {
    margin-top: 3%;
}

.mt-5 {
    margin-top: 5%;
}

#purchase-statistics {
    grid-row: 1;
    grid-column: 1 / 4;
}

#purchase-inputs, #purchase-confirm, #page-refresh {
    grid-row: 2;
    padding: 2%;

    border-top: 2px solid var(--foreground);

    &:not(:last-child) {
        border-right: 2px solid var(--foreground);
    }
}

#purchase-inputs {
    grid-column: 1;
    overflow-wrap: anywhere;
    overflow-y: auto;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;

    & > table {
        border: none;
        width: 100%;

        & tr {
            scroll-snap-align: center;
        }

        & td:not(:first-child) {
            width: 2rem;
            text-align: center;

            & > span {
                pointer-events: none;
            }
        }

        & td:last-child {
            width: 2.5rem;
            padding-left: 2%;
        }
    }
}

#purchase-confirm {
    grid-column: 2;
}

#page-refresh {
    grid-column: 3;
}

#subtotal {
    font-size: larger;
    text-decoration: underline;
}

#tip-qty {
    width: 30%;
    text-align: center;
    margin: 0 2%;
}

#tip-round {
    width: 50%;
}

#purchase-statistics-canvas {
    max-height: 100%;
}

#auth-prompt > div > * {
    margin-bottom: 5%;
}
